html {
    background-color: #189eb9;
  }
  
  main {
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar {
    width: 100%;
  }
  
  .level-item {
    gap: 5px;
  }
  
  .comment-box {
    width: 75%;
  }
  
  
  .post-btn {
    float: right;
  }
  
  .divider {
    border-top: 3px solid #000000;
    width: 100%; 
  }
  
  
  .login-txt {
    padding-left: 8px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form {
    margin-bottom: 20px;
  }
  
  .divider {
    display: none;
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logout-form {
    flex-direction: row;
  }
  
  .divider {
    display: none;
  }
  
  
  
  .login-button {
    margin-left: 8px;
  }
  
  .link-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }